StockApplication/Connected Services/StockService/StockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar42.fulton.asu.edu/Page0/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar42.fulton.asu.edu/Page0/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_StockBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StockBuild" />
  </wsdl:message>
  <wsdl:message name="IStockService_StockBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StockBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_StockQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:StockQuote" />
  </wsdl:message>
  <wsdl:message name="IStockService_StockQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:StockQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="StockBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/StockBuild" message="tns:IStockService_StockBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/StockBuildResponse" message="tns:IStockService_StockBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StockQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/StockQuote" message="tns:IStockService_StockQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/StockQuoteResponse" message="tns:IStockService_StockQuote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockBuild">
      <soap:operation soapAction="http://tempuri.org/IStockService/StockBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockQuote">
      <soap:operation soapAction="http://tempuri.org/IStockService/StockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://webstrar42.fulton.asu.edu/Page0/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>