StockApplication/Connected Services/ExchangeService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyFromSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyToSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>